<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezone.ezproject.dal.mapper.ExtCardAlarmNoticePlanMapper">
    <resultMap id="BaseResultMap" type="com.ezone.ezproject.dal.entity.CardAlarmNoticePlan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="card_id" jdbcType="BIGINT" property="cardId"/>
        <result column="alarm_id" jdbcType="BIGINT" property="alarmId"/>
        <result column="timestamp_minute" jdbcType="INTEGER" property="timestampMinute"/>
    </resultMap>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into card_alarm_notice_plan (`id`, `project_id`, `card_id`,
        `alarm_id`, `timestamp_minute`)
        values
        <foreach collection="list" item="model" index="index" separator=",">
            (#{model.id,jdbcType=BIGINT}, #{model.projectId,jdbcType=BIGINT}, #{model.cardId,jdbcType=BIGINT},
            #{model.alarmId,jdbcType=BIGINT}, #{model.timestampMinute,jdbcType=INTEGER})
        </foreach>
    </insert>
</mapper>