<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezone.ezproject.dal.mapper.PortfolioChartMapper">
  <resultMap id="BaseResultMap" type="com.ezone.ezproject.dal.entity.PortfolioChart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="portfolio_id" jdbcType="BIGINT" property="portfolioId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="chart_type" jdbcType="VARCHAR" property="chartType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="last_modify_user" jdbcType="VARCHAR" property="lastModifyUser" />
    <result column="seq_num" jdbcType="INTEGER" property="seqNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `portfolio_id`, `title`, `chart_type`, `create_time`, `create_user`, `last_modify_time`, 
    `last_modify_user`, `seq_num`
  </sql>
  <select id="selectByExample" parameterType="com.ezone.ezproject.dal.entity.PortfolioChartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from portfolio_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from portfolio_chart
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from portfolio_chart
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ezone.ezproject.dal.entity.PortfolioChartExample">
    delete from portfolio_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ezone.ezproject.dal.entity.PortfolioChart">
    insert into portfolio_chart (`id`, `portfolio_id`, `title`, 
      `chart_type`, `create_time`, `create_user`, 
      `last_modify_time`, `last_modify_user`, `seq_num`
      )
    values (#{id,jdbcType=BIGINT}, #{portfolioId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{chartType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{lastModifyUser,jdbcType=VARCHAR}, #{seqNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ezone.ezproject.dal.entity.PortfolioChart">
    insert into portfolio_chart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="portfolioId != null">
        `portfolio_id`,
      </if>
      <if test="title != null">
        `title`,
      </if>
      <if test="chartType != null">
        `chart_type`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="createUser != null">
        `create_user`,
      </if>
      <if test="lastModifyTime != null">
        `last_modify_time`,
      </if>
      <if test="lastModifyUser != null">
        `last_modify_user`,
      </if>
      <if test="seqNum != null">
        `seq_num`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="portfolioId != null">
        #{portfolioId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="chartType != null">
        #{chartType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUser != null">
        #{lastModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="seqNum != null">
        #{seqNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ezone.ezproject.dal.entity.PortfolioChartExample" resultType="java.lang.Long">
    select count(*) from portfolio_chart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update portfolio_chart
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.portfolioId != null">
        `portfolio_id` = #{record.portfolioId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        `title` = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.chartType != null">
        `chart_type` = #{record.chartType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        `create_user` = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null">
        `last_modify_time` = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyUser != null">
        `last_modify_user` = #{record.lastModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNum != null">
        `seq_num` = #{record.seqNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update portfolio_chart
    set `id` = #{record.id,jdbcType=BIGINT},
      `portfolio_id` = #{record.portfolioId,jdbcType=BIGINT},
      `title` = #{record.title,jdbcType=VARCHAR},
      `chart_type` = #{record.chartType,jdbcType=VARCHAR},
      `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      `create_user` = #{record.createUser,jdbcType=VARCHAR},
      `last_modify_time` = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      `last_modify_user` = #{record.lastModifyUser,jdbcType=VARCHAR},
      `seq_num` = #{record.seqNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ezone.ezproject.dal.entity.PortfolioChart">
    update portfolio_chart
    <set>
      <if test="portfolioId != null">
        `portfolio_id` = #{portfolioId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        `title` = #{title,jdbcType=VARCHAR},
      </if>
      <if test="chartType != null">
        `chart_type` = #{chartType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        `create_user` = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        `last_modify_time` = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUser != null">
        `last_modify_user` = #{lastModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="seqNum != null">
        `seq_num` = #{seqNum,jdbcType=INTEGER},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ezone.ezproject.dal.entity.PortfolioChart">
    update portfolio_chart
    set `portfolio_id` = #{portfolioId,jdbcType=BIGINT},
      `title` = #{title,jdbcType=VARCHAR},
      `chart_type` = #{chartType,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP},
      `create_user` = #{createUser,jdbcType=VARCHAR},
      `last_modify_time` = #{lastModifyTime,jdbcType=TIMESTAMP},
      `last_modify_user` = #{lastModifyUser,jdbcType=VARCHAR},
      `seq_num` = #{seqNum,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>