<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezone.ezproject.dal.mapper.ProjectK8sGroupMapper">
  <resultMap id="BaseResultMap" type="com.ezone.ezproject.dal.entity.ProjectK8sGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="k8s_group_id" jdbcType="BIGINT" property="k8sGroupId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `project_id`, `k8s_group_id`, `company_id`, `create_user`, `create_time`
  </sql>
  <select id="selectByExample" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from project_k8s_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_k8s_group
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from project_k8s_group
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroupExample">
    delete from project_k8s_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroup">
    insert into project_k8s_group (`id`, `project_id`, `k8s_group_id`, 
      `company_id`, `create_user`, `create_time`
      )
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{k8sGroupId,jdbcType=BIGINT}, 
      #{companyId,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroup">
    insert into project_k8s_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="projectId != null">
        `project_id`,
      </if>
      <if test="k8sGroupId != null">
        `k8s_group_id`,
      </if>
      <if test="companyId != null">
        `company_id`,
      </if>
      <if test="createUser != null">
        `create_user`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="k8sGroupId != null">
        #{k8sGroupId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroupExample" resultType="java.lang.Long">
    select count(*) from project_k8s_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project_k8s_group
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null">
        `project_id` = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.k8sGroupId != null">
        `k8s_group_id` = #{record.k8sGroupId,jdbcType=BIGINT},
      </if>
      <if test="record.companyId != null">
        `company_id` = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null">
        `create_user` = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project_k8s_group
    set `id` = #{record.id,jdbcType=BIGINT},
      `project_id` = #{record.projectId,jdbcType=BIGINT},
      `k8s_group_id` = #{record.k8sGroupId,jdbcType=BIGINT},
      `company_id` = #{record.companyId,jdbcType=BIGINT},
      `create_user` = #{record.createUser,jdbcType=VARCHAR},
      `create_time` = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroup">
    update project_k8s_group
    <set>
      <if test="projectId != null">
        `project_id` = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="k8sGroupId != null">
        `k8s_group_id` = #{k8sGroupId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        `company_id` = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        `create_user` = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ezone.ezproject.dal.entity.ProjectK8sGroup">
    update project_k8s_group
    set `project_id` = #{projectId,jdbcType=BIGINT},
      `k8s_group_id` = #{k8sGroupId,jdbcType=BIGINT},
      `company_id` = #{companyId,jdbcType=BIGINT},
      `create_user` = #{createUser,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>